$background-color: #2B3A55;
$default-font-color: #F2E5E5;
$primary-font-color: #F2E5E5;
$dimmed-font-color: #f2e5e5ad;
$dark-font-color: #111;
$color-primary: #FF7000;
$button-hover-background: rgba(238, 238, 238, 0.3);

$neon-color: hsl(317, 100%, 54%);
$neon-background: hsl(323, 21%, 16%);

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400&family=Zen+Dots&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('/public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $background-color;
    color: $default-font-color;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;

    .accent-font {
        font-family: 'Zen Dots', cursive;
    }

    .helper-text {
        color: $dimmed-font-color;

        p {
            margin: 0;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }

    .overlay {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        z-index: -1;
    }

    .button-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
        row-gap: 30px;
        margin-bottom: 30px;

        .button-primary {
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }

    .button {
        border: none;
        outline: none;
        border-radius: 8px;
        cursor: pointer;

        &.neon-button {
            text-shadow: 0 0 .5em currentColor;
            
            &:hover {
                text-shadow: 0 0 1em currentColor;
            }
        }

        &:active {
            transform: scale(0.9);
        }

        &.button-primary {
            background-color: transparent;
            padding: 12px 30px;
            font-size: 2.3em;
            color: $default-font-color;
            border: 2px solid #f2e5e5a8;
            transition: .2s ease-in-out;
            
            &:hover {
                background-color: $button-hover-background;
            }
        }

        &.button-outline-primary {
            background-color: rgba(238, 238, 238, 0.1);
            color: $default-font-color;
            padding: 18px 22px;
            font-size: 1.2em;
            transition: .2s ease-in-out;
            border: 2px solid transparent;
            font-weight: 600;

            &.selected {
                background-color: $button-hover-background;

                &.easy {
                    box-shadow: 0 0 1em #88cf17;
                    border: 2px solid #88cf17;
                }

                &.medium {
                    box-shadow: 0 0 1em #FED049;
                    border: 2px solid #FED049;
                }

                &.hard {
                    box-shadow: 0 0 1em #D23369;
                    border: 2px solid #D23369;
                }
            }
            
            &:hover {
                background-color: $button-hover-background;

                &.easy {
                    border: 2px solid #88cf17;
                }

                &.medium {
                    border: 2px solid #FED049;
                }

                &.hard {
                    border: 2px solid #D23369;
                }
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }
    
    #root {
        height: 100%;
        
        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .app-header {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                
                .headline {
                    font-weight: 700;
                    font-size: 3em;
                    margin: 20px 0;
                }
            }


        }
    }
}