$background-color: #2B3A55;
$default-font-color: #F2E5E5;
$primary-font-color: #F2E5E5;
$dimmed-font-color: #f2e5e5ad;
$dark-font-color: #111;
$dimmed-dark-font-color: rgba(17, 17, 17, 0.6);
$color-primary: #FF7000;
$button-hover-background: rgba(238, 238, 238, 0.3);

$neon-color: hsl(317, 100%, 54%);
$neon-background: hsl(323, 21%, 16%);

$blue: #0d6efd;
$blue-background: #0d6dfdf3;
$blue-inline: #E2EDFE;
$blue-inline-hover: #e2edfeec;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Dots&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url('/public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $background-color;
    color: $default-font-color;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;

    h4 {
        font-weight: 900 !important;
        color: #000;
    }
    
    .read-only {
        color: #333;
        font-weight: 100 !important;
    }

    .accent-font {
        font-family: 'Zen Dots', cursive;
    }

    .font-accent-color {
        color: $blue;
    }

    .helper-text {
        color: $dimmed-font-color;
        
        &.dark {
            color: $dimmed-dark-font-color;
        }

        p {
            margin: 0;
            margin-top: 5px;
            margin-bottom: 15px;
        }
    }

    .overlay {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        z-index: -1;
    }

    .button-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 12px;
        row-gap: 30px;
        margin-bottom: 30px;

        .button-primary {
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }

    .button {
        border: none;
        outline: none;
        border-radius: 8px;
        cursor: pointer;

        &.neon-button {
            text-shadow: 0 0 .5em currentColor;
            
            &:hover {
                text-shadow: 0 0 1em currentColor;
            }
        }

        &:active {
            transform: scale(0.9);
        }

        &.button-primary {
            background-color: transparent;
            padding: 12px 30px;
            font-size: 2.3em;
            color: $default-font-color;
            border: 2px solid #f2e5e5a8;
            transition: .2s ease-in-out;
            
            &:hover {
                background-color: $button-hover-background;
            }
        }

        &.button-outline-primary {
            background-color: rgba(238, 238, 238, 0.1);
            color: $default-font-color;
            padding: 18px 22px;
            font-size: 1.2em;
            transition: .2s ease-in-out;
            border: 2px solid transparent;
            font-weight: 600;

            &.selected {
                background-color: $button-hover-background;

                &.easy {
                    box-shadow: 0 0 1em #88cf17;
                    border: 2px solid #88cf17;
                }

                &.medium {
                    box-shadow: 0 0 1em #FED049;
                    border: 2px solid #FED049;
                }

                &.hard {
                    box-shadow: 0 0 1em #D23369;
                    border: 2px solid #D23369;
                }
            }

            &.solid {
                background-color: rgba(238, 238, 238, 0.6);
                color: $dark-font-color;
                font-weight: 800;
            }
            
            &:hover {
                background-color: $button-hover-background;

                &.easy {
                    border: 2px solid #88cf17;
                }

                &.medium {
                    border: 2px solid #FED049;
                }

                &.hard {
                    border: 2px solid #D23369;
                }
            }

            &:active {
                transform: scale(0.9);
            }
        }

        &.button-secondary {
            background-color: $color-primary;
            border-radius: 8px;
            padding: 10px 20px;
            font-size: 1em;
            transition: .2s ease-in-out;
            color: #eee;
            font-weight: 800;
        }

        &.button-danger {
            background-color: transparent;
            font-weight: 800;
            font-size: 1em;

            &:hover {
                text-decoration: underline;
            }
        }

        &.disabled {
            cursor: default;
            background-color: rgba(238, 238, 238, 0.5) !important;
            border: 2px solid rgba(238, 238, 238, 0.5) !important;

            &:active {
                transform: none;
            }
        }
    }
    
    #root {
        height: 100%;
        
        .container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &.game-wrapper {
                gap: 10px;
            }

            &.column {
                flex-direction: column;
            }

            .app-header {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                
                .headline {
                    font-weight: 700;
                    font-size: 3em;
                    margin: 20px 0;
                }
            }

            .board-container {
                backdrop-filter: blur(20px);
                padding: 70px;
                padding-top: 15px;
                border-radius: 12px;
                border: 2px solid rgba(17, 17, 17, 0.6);
                box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
                
                .interactable-wrapper {
                    display: flex;
                    align-items: flex-end;
                    gap: 20px;
                }

                .board-wrapper {
                    background-color: #111;
                    backdrop-filter: blur(12px);
                    padding: 8px;
                    
                    .board-grid {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: repeat(3, 1fr);
                        gap: 10px;
                        
                        .tile-group {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 2px;
                            
                            .board-tile {
                                background-color: #eee;
                                width: 100%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.4em;
                                cursor: pointer;
                                transition: .1s ease-in-out;
                                color: #111;
                                width: 60px;
                                height: 60px;

                                &:hover {
                                    background-color: #ddd;
                                }

                                &.selected {
                                    background-color: $blue-background;
                                    color: #fff;

                                    .font-accent-color {
                                        color: #fff;
                                    }
                                }

                                &.inline {
                                    background-color: $blue-inline;

                                    &:hover {
                                        background-color: $blue-inline-hover;
                                    }
                                }
                            }
                        }
                    }
                }

                .tool-control {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    .button-desc {
                        font-size: .3em;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        margin-bottom: 10px;

                        .button {
                            width: 65px;
                            height: 65px;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #eee;
                            color: #111;
                            position: relative;

                            &:hover {
                                background-color: rgba(238, 238, 238, 0.85);
                            }

                            .badge {
                                position: absolute;
                                top: -5px;
                                right: -5px;
                                width: 20px;
                                height: 20px;
                                background-color: $color-primary;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50%;
                            }
                            
                            i {
                                font-size: 2em;
                            }
                        }

                        p {
                            color: #eee;
                            font-size: 3em;
                        }
                    }
                }
                
                .numbers-keyboard {
                    background-color: #111;
                    padding: 8px;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 8px;
                    
                    .button {
                        background-color: #eee;
                        border-radius: 0;
                        width: 90px;
                        height: 90px;
                        
                        &:hover {
                            background-color: rgba(238, 238, 238, 0.85);
                        }
                    }
                }
            }
        }

        .modal-overlay {
            position: fixed;
            pointer-events: none;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            
            &.opened {
                z-index: 1000;
                background-color: rgba(17, 17, 17, 0.5);
                backdrop-filter: blur(2px);
                pointer-events: all;
                opacity: 1;

                .modal {
                    background-color: #eee;
                    border: 5px solid #111;
                    top: 50%;
                    left: 50%;
                    pointer-events: all;
                    padding: 10px 20px;

                    .modal-header {
                        color: #111;
                        margin-bottom: 30px;

                        h3 {
                            margin-bottom: 0;
                        }
                    }

                    .modal-action {
                        margin-bottom: 10px;
                        text-align: right;

                        .button-danger {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}