@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Dots&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2B3A55;
  background-image: url("/public/background.jpg");
  color: #F2E5E5;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  position: relative;
}
body .loader-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-delay: 5s;
  transition: 1s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(1000px);
          backdrop-filter: blur(1000px);
}
body .loader-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/public/background.jpg");
  background-size: cover;
  background-position: center;
}
body .loader-wrapper .loader-content {
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  border: 2px solid rgba(17, 17, 17, 0.6);
  opacity: 0;
  transition: 1s ease-in-out;
}
body .loader-wrapper .loader-content .loader {
  width: 200px;
  height: 5px;
  background-color: #eee;
  position: relative;
  overflow: hidden;
}
body .loader-wrapper .loader-content .loader::after {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background-color: #0d6efd;
  position: absolute;
  left: -10px;
  top: 0;
  -webkit-animation: 3s loader-animation infinite;
          animation: 3s loader-animation infinite;
}
@-webkit-keyframes loader-animation {
  0% {
    width: 40px;
    left: -2px;
  }
  25% {
    width: 60px;
  }
  50% {
    width: 80px;
    left: calc(100% - 38px);
  }
  75% {
    width: 45px;
  }
  100% {
    width: 40px;
    left: -2px;
  }
}
@keyframes loader-animation {
  0% {
    width: 40px;
    left: -2px;
  }
  25% {
    width: 60px;
  }
  50% {
    width: 80px;
    left: calc(100% - 38px);
  }
  75% {
    width: 45px;
  }
  100% {
    width: 40px;
    left: -2px;
  }
}
body .loader-wrapper.visible {
  opacity: 1;
  pointer-events: all;
  z-index: 10;
}
body .loader-wrapper.visible .loader-content {
  opacity: 1;
}
body .loader-wrapper h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #eee;
  font-size: 2em;
}
body .loader-wrapper p {
  margin-bottom: 28px;
  max-width: 550px;
  text-align: center;
}
body h4 {
  font-weight: 900 !important;
  color: #000;
}
body .read-only {
  color: #333;
  font-weight: 100 !important;
}
body .accent-font {
  font-family: "Zen Dots", cursive;
}
body .font-accent-color {
  color: #0d6efd;
}
body .helper-text {
  color: rgba(242, 229, 229, 0.6784313725);
}
body .helper-text.dark {
  color: rgba(17, 17, 17, 0.6);
}
body .helper-text p {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 15px;
}
body .button-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  row-gap: 30px;
  margin-bottom: 30px;
}
body .button-wrapper .button-primary {
  grid-column-start: 1;
  grid-column-end: 4;
}
body .button {
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
body .button.neon-button {
  text-shadow: 0 0 0.5em currentColor;
}
body .button.neon-button:hover {
  text-shadow: 0 0 1em currentColor;
}
body .button:active {
  transform: scale(0.9);
}
body .button.button-primary {
  background-color: transparent;
  padding: 12px 30px;
  font-size: 2.3em;
  color: #F2E5E5;
  border: 2px solid rgba(242, 229, 229, 0.6588235294);
  transition: 0.2s ease-in-out;
}
body .button.button-primary:hover {
  background-color: rgba(238, 238, 238, 0.3);
}
body .button.button-outline-primary {
  background-color: rgba(238, 238, 238, 0.1);
  color: #F2E5E5;
  padding: 18px 22px;
  font-size: 1.2em;
  transition: 0.2s ease-in-out;
  border: 2px solid transparent;
  font-weight: 600;
}
body .button.button-outline-primary.selected {
  background-color: rgba(238, 238, 238, 0.3);
}
body .button.button-outline-primary.selected.easy {
  box-shadow: 0 0 1em #88cf17;
  border: 2px solid #88cf17;
}
body .button.button-outline-primary.selected.medium {
  box-shadow: 0 0 1em #FED049;
  border: 2px solid #FED049;
}
body .button.button-outline-primary.selected.hard {
  box-shadow: 0 0 1em #D23369;
  border: 2px solid #D23369;
}
body .button.button-outline-primary.solid {
  background-color: rgba(238, 238, 238, 0.6);
  color: #111;
  font-weight: 800;
}
body .button.button-outline-primary:hover {
  background-color: rgba(238, 238, 238, 0.3);
}
body .button.button-outline-primary:hover.easy {
  border: 2px solid #88cf17;
}
body .button.button-outline-primary:hover.medium {
  border: 2px solid #FED049;
}
body .button.button-outline-primary:hover.hard {
  border: 2px solid #D23369;
}
body .button.button-outline-primary:active {
  transform: scale(0.9);
}
body .button.button-secondary {
  background-color: #FF7000;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1em;
  transition: 0.2s ease-in-out;
  color: #eee;
  font-weight: 800;
}
body .button.button-danger {
  background-color: transparent;
  font-weight: 800;
  font-size: 1em;
}
body .button.button-danger:hover {
  text-decoration: underline;
}
body .button.disabled {
  cursor: default;
  background-color: rgba(238, 238, 238, 0.5) !important;
  border: 2px solid rgba(238, 238, 238, 0.5) !important;
}
body .button.disabled:active {
  transform: none;
}
body #root {
  height: 100%;
  background-image: url("/public/background.jpg");
  background-position: center;
  background-size: cover;
}
body #root .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #root .container.blur {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body #root .container.game-wrapper {
  gap: 10px;
}
body #root .container.column {
  flex-direction: column;
}
body #root .container .app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #root .container .app-header .headline {
  font-weight: 700;
  font-size: 3em;
  margin: 20px 0;
}
body #root .container .board-container {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  padding: 70px;
  padding-top: 15px;
  border-radius: 12px;
  border: 2px solid rgba(17, 17, 17, 0.6);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
body #root .container .board-container .interactable-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}
body #root .container .board-container .board-wrapper {
  background-color: #111;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  padding: 8px;
}
body #root .container .board-container .board-wrapper .board-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
body #root .container .board-container .board-wrapper .board-grid .tile-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}
body #root .container .board-container .board-wrapper .board-grid .tile-group .board-tile {
  background-color: #eee;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  color: #111;
  width: 60px;
  height: 60px;
}
body #root .container .board-container .board-wrapper .board-grid .tile-group .board-tile:hover {
  background-color: #ddd;
}
body #root .container .board-container .board-wrapper .board-grid .tile-group .board-tile.selected {
  background-color: rgba(13, 109, 253, 0.9529411765);
  color: #fff;
}
body #root .container .board-container .board-wrapper .board-grid .tile-group .board-tile.selected .font-accent-color {
  color: #fff;
}
body #root .container .board-container .board-wrapper .board-grid .tile-group .board-tile.inline {
  background-color: #E2EDFE;
}
body #root .container .board-container .board-wrapper .board-grid .tile-group .board-tile.inline:hover {
  background-color: rgba(226, 237, 254, 0.9254901961);
}
body #root .container .board-container .tool-control {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
body #root .container .board-container .tool-control .button-desc {
  font-size: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
}
body #root .container .board-container .tool-control .button-desc .button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  color: #111;
  position: relative;
}
body #root .container .board-container .tool-control .button-desc .button:hover {
  background-color: rgba(238, 238, 238, 0.85);
}
body #root .container .board-container .tool-control .button-desc .button .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: #FF7000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
body #root .container .board-container .tool-control .button-desc .button i {
  font-size: 2em;
}
body #root .container .board-container .tool-control .button-desc p {
  color: #eee;
  font-size: 3em;
}
body #root .container .board-container .numbers-keyboard {
  background-color: #111;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
body #root .container .board-container .numbers-keyboard .button {
  background-color: #eee;
  border-radius: 0;
  width: 90px;
  height: 90px;
}
body #root .container .board-container .numbers-keyboard .button:hover {
  background-color: rgba(238, 238, 238, 0.85);
}
body #root .modal-overlay {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
body #root .modal-overlay.opened {
  z-index: 1000;
  background-color: rgba(17, 17, 17, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  pointer-events: all;
  opacity: 1;
}
body #root .modal-overlay.opened .modal {
  background-color: #eee;
  border: 5px solid #111;
  top: 50%;
  left: 50%;
  pointer-events: all;
  padding: 10px 20px;
}
body #root .modal-overlay.opened .modal .modal-header {
  color: #111;
  margin-bottom: 30px;
}
body #root .modal-overlay.opened .modal .modal-header h3 {
  margin-bottom: 0;
}
body #root .modal-overlay.opened .modal .modal-action {
  margin-bottom: 10px;
  text-align: right;
}
body #root .modal-overlay.opened .modal .modal-action .button-danger {
  margin-right: 10px;
}/*# sourceMappingURL=main.css.map */